{% extends 'base.html' %}

{% block content %}
<h2 class="mb-3">Scan History</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Target</th>
            <th>Scan Time</th>
        </tr>
    </thead>
    <tbody>
        {% for scan in scans %}
        <tr>
            <td>{{ scan[0] }}</td>
            <td>{{ scan[1] }}</td>
            <td>{{ scan[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}